openapi: 3.1.0
x-stoplight:
  id: yx69v5uf38x14
info:
  version: '1.0'
  title: Crypto API
  description: Reference for Sardine Crypto API
  contact:
    email: support@sardine.io
    name: Sardine
    url: docs.sardine.io
  license:
    url: 'http://www.example.com'
    name: unlicensed
servers:
  - url: 'https://api.sandbox.sardine.ai/v1'
    description: Sandbox
  - url: 'https://api.sardine.ai/v1'
    description: Prod Server
paths:
  /auth/client-tokens:
    post:
      summary: Get Client Token
      description: |-
        Exchange your `clientId` and `clientSecret` for a `clientToken` that can be be used in frontend code. `clientToken` will be unusable after the `expiresAt` time, which will normally be after 30 min. 


        To try the request in the mock server on the right, substitute username for clientId and password for clientSecret. 

        If `reference_id` is passed, it will be passed to the Order object upon when the transaction happens. It can then be used as a filter in the /orders endpoint

        Supported payment methods

        `us_debit` - US debit cards

        `us_credit` - US credit cards

        `international_debit` - International debit cards

        `international_credit` - International credit cards

        `bank` - All bank payment methods

        `ach` - ACH (US only) 

        `card` - All cards
      operationId: post-crypto-auth-client_session_token
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                referenceId:
                  type: string
                  description: 'Unique id representing a new session, must be regenerated for each call'
                customerId:
                  type: string
                  description: ID of customer
                externalUserId:
                  type: string
                  description: An ID generated by the merchant to uniquely identity a user.
                  format: uuid
                identityPrefill:
                  type: object
                  description: 'If these fields are filled, they will be pre filled into the UI'
                  properties:
                    firstName:
                      type: string
                      description: First name of user
                    lastName:
                      type: string
                      description: Last name of user
                    dateOfBirth:
                      type: string
                      description: Date of birth in YYYY-MM-DD format
                    emailAddress:
                      type: string
                      description: Verified email of the user
                    phone:
                      type: string
                      description: Verified phone number of user
                    address:
                      type: object
                      properties:
                        street1:
                          type: string
                          description: Street address
                        street2:
                          type: string
                          description: 'Suite, Apt, etc'
                        city:
                          type: string
                          description: 'City '
                        regionCode:
                          type: string
                          description: State or province
                        postalCode:
                          type: string
                          description: 'Zipcode '
                        countryCode:
                          type: string
                          description: ISO standard 2 digit country code
                paymentMethodTypeConfig:
                  type: object
                  properties:
                    default:
                      type: string
                      enum:
                        - us_debit
                        - us_credit
                        - international_debit
                        - international_credit
                        - bank
                        - ach
                        - card
                      description: |
                        The payment method that shows as default in the Sardine onramp
                    enabled:
                      type: array
                      description: List of payment methods supported by Sardine
                      items:
                        type: string
                        enum:
                          - us_debit
                          - us_credit
                          - international_debit
                          - international_credit
                          - bank
                          - ach
                          - card
              x-examples:
                example-1:
                  referenceId: 42eadcb0-4a93-45af-9c8c-d295db5aeb6c
                  nft:
                    name: The best nft
                    price: 100
                    currencyCode: USD
                    contractAddress: '0x7fC0344254E1663C2eF24e3c063cbec231525C20'
                    imageUrl: 'https://gateway.autograph.io/ipfsQmSAQm4gbhjSeUk7fuYppHd7Z8dfWpBvnFmqFSKqkrUJPM'
                  identityPrefill:
                    firstName: fname
                    lastName: lname
                    dateOfBirth: '2000-01-01'
                    emailAddress: foobar@gmail.com
                    phone: '+19254485826'
                    address:
                      street1: 123 main st
                      street2: ''
                      city: irvine
                      regionCode: CA
                      postalCode: '02747'
                      countryCode: US
            examples:
              example-1:
                value:
                  referenceId: 42eadcb0-4a93-45af-9c8c-d295db5aeb6c
                  identityPrefill:
                    firstName: John
                    lastName: Doe
                    dateOfBirth: '1995-01-01'
                    emailAddress: foobar@gmail.com
                    phone: '+19254485826'
                    address:
                      street1: 123 main st
                      street2: ''
                      city: irvine
                      regionCode: CA
                      postalCode: '02747'
                      countryCode: US
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientToken:
                    type: string
                    description: Authentication token returned
                  expiresAt:
                    type: string
                    description: Timestamp when clientToken will expire
                    examples:
                      - '2022-08-02T15:41:26Z'
                x-examples:
                  example-1:
                    clientToken: 8aeae330-9154-4051-ab98-d173ba2bc7f0
              examples:
                example-1:
                  value:
                    clientToken: b4c34b68-0f41-4ca9-aaee-251361e5d0da
                    expiresAt: '2022-08-02T15:41:26Z'
      security:
        - ClientToken: []
      servers:
        - url: 'https://api.sandbox.sardine.ai/v1'
          description: Sandbox
        - url: 'https://api.sardine.ai/v1'
          description: Prod Server
      x-stoplight:
        id: pj8ogyyuc84ou
  /quotes:
    get:
      summary: Get Quote
      description: |-
        Sardine returns a quote on the amount of cryptocurrency that can be purchased or sold (for off-ramp), along with the associated fees, which are as follows

        - Network fee - Also known as "gas", paid out to faciliate and validate the transaction

        - Processing fee: Used to cover Sardine's cost of money movement, fraud check and compliance
      operationId: get-trade-quote
      parameters:
        - name: asset_type
          in: query
          description: Cryptocurrency asset user wants to purchase
          required: true
          schema:
            type: string
        - name: network
          in: query
          description: Blockchain on which the `asset_type` is present
          required: true
          schema:
            type: string
        - name: total
          in: query
          description: 'Amount the user wants to buy or sell. '
          required: true
          schema:
            type: number
        - name: currency
          in: query
          description: The currency type in which the quote is supplied
          schema:
            type: string
            default: USD
            examples:
              - 'USD,CAD'
        - name: paymentType
          in: query
          description: The payment method that the user will use for the transaction
          schema:
            type: string
            enum:
              - ach
              - debit
              - credit
              - us_debit
              - international_debit
              - international_credit
            examples:
              - debit
        - name: quote_type
          in: query
          description: Select for the required activity `buy` for on ramp and `sell` for off ramp
          schema:
            type: string
            enum:
              - buy
              - sell
            default: buy
        - name: walletAddress
          in: query
          description: 'Wallet address of User. This is used to calculate if User has previously used Sardine, and provide them with a more accurate quote. '
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
              examples:
                Quote for ETH in CAD for a debit card transaction:
                  value:
                    quantity: 0.0445225
                    price: 2111.2920433488684
                    subtotal: 94
                    transactionFee: 2
                    networkFee: 4
                    total: 100
                    assetType: ETH
                    network: ethereum
                Example 1:
                  value:
                    quantity: 0.0445225
                    price: 2111.2920433488684
                    subtotal: 94
                    transactionFee: 2
                    networkFee: 4
                    total: 100
                    assetType: ETH
                    network: ethereum
      security:
        - ClientToken: []
      servers:
        - url: 'https://api.sandbox.sardine.ai/v1'
          description: Sandbox
        - url: 'https://api.sardine.ai/v1'
          description: Prod Server
      x-stoplight:
        id: arttpyxaxblh3
  /supported-tokens:
    get:
      summary: Get Supported Tokens
      description: 'Fetch list of tokens supported. '
      operationId: get-get_tokens
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        token:
                          type: string
                          description: Symbol of cryptocurrency
                        tokenName:
                          type: string
                          description: Full name of cryptocurrency
                        network:
                          type: string
                          description: 'Name of network, token is available on'
                        decimals:
                          type: integer
                          description: Number of decimal points that the crypto can have
                        chainId:
                          type:
                            - integer
                            - 'null'
                          description: chainID if network is EVM compatible
                        tokenAddress:
                          type: string
                          description: address if token is ERC-20
                x-examples:
                  example-1:
                    data:
                      - token: AAVE
                        tokenName: Aave
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        tokenAddress: '0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9'
                      - token: ADA
                        tokenName: Cardano
                        network: cardano
                        decimals: 6
                        chainId: null
                        tokenAddress: null
                      - token: ALGO
                        tokenName: Algorand
                        network: algorand
                        decimals: 6
                        chainId: null
                        tokenAddress: null
                      - token: AXS
                        tokenName: Axie Infinity
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        tokenAddress: '0xBB0E17EF65F82Ab018d8EDd776e8DD940327B28b'
                      - token: AVAX
                        tokenName: Avalanche
                        network: avalanche_c-chain
                        decimals: 18
                        chainId: 43114
                        tokenAddress: '0xB31f66AA3C1e785363F0875A1B74E27b85FD66c7'
                      - token: BAT
                        tokenName: Basic Attention Token
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        tokenAddress: '0x0D8775F648430679A709E98d2b0Cb6250d2887EF'
                      - token: BCH
                        tokenName: Bitcoin Cash
                        network: bitcoin_cash
                        decimals: 8
                        chainId: null
                        tokenAddress: null
                      - token: BTC
                        tokenName: Bitcoin
                        network: bitcoin
                        decimals: 8
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: BUSD
                        tokenName: Binance USD
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x4Fabb145d64652a948d72533023f6E7A623C7C53'
                      - token: COMP
                        tokenName: Compound
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xc00e94Cb662C3520282E6f5717214004A7f26888'
                      - token: DAI
                        tokenName: Dai
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x6B175474E89094C44Da98b954EedeAC495271d0F'
                      - token: DOGE
                        tokenName: Dogecoin
                        network: dogecoin
                        decimals: 8
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: DOT
                        tokenName: Polkadot
                        network: polkadot
                        decimals: 10
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: EGLD
                        tokenName: Elrond
                        network: elrond
                        decimals: 18
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: ENJ
                        tokenName: Enjin Coin
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xF629cBd94d3791C9250152BD8dfBDF380E2a3B9c'
                      - token: EOS
                        tokenName: EOS
                        network: eos
                        decimals: 4
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: ETH
                        tokenName: Ethereum
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: ETC
                        tokenName: Ethereum Classic
                        network: ethereum_classic
                        decimals: 372
                        chainId: 61
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: FTM
                        tokenName: Fantom
                        network: fantom
                        decimals: 18
                        chainId: 250
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: GRT
                        tokenName: The Graph
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xc944E90C64B2c07662A292be6244BDf05Cda44a7'
                      - token: Hedera
                        tokenName: HBAR
                        network: hedera
                        decimals: 8
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: KNC
                        tokenName: Kyber Network
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xdeFA4e8a7bcBA345F687a2f1456F5Edd9CE97202'
                      - token: LINK
                        tokenName: Chainlink
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x514910771AF9Ca656af840dff83E8264EcF986CA'
                      - token: Litecoin
                        tokenName: LTC
                        network: litecoin
                        decimals: 8
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: MANA
                        tokenName: MANA
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x0F5D2fB29fb7d3CFeE444a200298f468908cC942'
                      - token: MATIC
                        tokenName: Polygon
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0'
                      - token: MKR
                        tokenName: Maker
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x9f8F72aA9304c8B593d555F12eF6589cC3A579A2'
                      - token: OMG
                        tokenName: OMG Network
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xd26114cd6EE289AccF82350c8d8487fedB8A0C07'
                      - token: PAXG
                        tokenName: Pax Gold
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x45804880De22913dAFE09f4980848ECE6EcbAf78'
                      - token: SAND
                        tokenName: The Sandbox
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x3845badAde8e6dFF049820680d1F14bD3903a5d0'
                      - token: SHIB
                        tokenName: SHIBA INU
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x95aD61b0a150d79219dCF64E1E6Cc01f0B64C4cE'
                      - token: SOL
                        tokenName: Solana
                        network: solana
                        decimals: 9
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: TUSD
                        tokenName: TrueUSD
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x0000000000085d4780B73119b644AE5ecd22b376'
                      - token: UNI
                        tokenName: Uniswap
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984'
                      - token: USDC
                        tokenName: USD Coin
                        network: ethereum
                        decimals: 6
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                      - token: USDP
                        tokenName: Pax Dollar
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x8E870D67F660D95d5be530380D0eC0bd388289E1'
                      - token: USDT
                        tokenName: Tether
                        network: ethereum
                        decimals: 6
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xdAC17F958D2ee523a2206206994597C13D831ec7'
                      - token: WBTC
                        tokenName: Wrapped BTC
                        network: ethereum
                        decimals: 8
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599'
                      - token: XLM
                        tokenName: Stellar
                        network: stellar
                        decimals: 6
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: XRP
                        tokenName: Ripple
                        network: ripple
                        decimals: 6
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: XTZ
                        tokenName: Tezos
                        network: tezos
                        decimals: 6
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: ZRX
                        tokenName: 0x
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xE41d2489571d322189246DaFA5ebDe1F4699F498'
              examples:
                example-1:
                  value:
                    data:
                      - network: algorand
                        assetSymbol: ALGO
                        assetName: Algorand
                        chainId: null
                        tokenName: Algorand
                        token: ALGO
                        tokenAddress: ''
                      - network: avalanche
                        assetSymbol: AVAX
                        assetName: Avalanche
                        chainId: null
                        tokenName: Avalanche
                        token: AVAX
                        tokenAddress: ''
                      - network: bitcoin
                        assetSymbol: BTC
                        assetName: Bitcoin
                        chainId: null
                        tokenName: Bitcoin
                        token: BTC
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: COMP
                        assetName: Compound
                        chainId: 1
                        tokenName: Compound
                        token: COMP
                        tokenAddress: '0xc00e94Cb662C3520282E6f5717214004A7f26888'
                      - network: ethereum
                        assetSymbol: DAI
                        assetName: Dai
                        chainId: 1
                        tokenName: Dai
                        token: DAI
                        tokenAddress: '0x6B175474E89094C44Da98b954EedeAC495271d0F'
                      - network: dogecoin
                        assetSymbol: DOGE
                        assetName: Dogecoin
                        chainId: 1
                        tokenName: Dogecoin
                        token: DOGE
                        tokenAddress: ''
                      - network: polkadot
                        assetSymbol: DOT
                        assetName: Polkadot
                        chainId: null
                        tokenName: Polkadot
                        token: DOT
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: ENJ
                        assetName: Enjin Coin
                        chainId: 1
                        tokenName: Enjin Coin
                        token: ENJ
                        tokenAddress: '0xF629cBd94d3791C9250152BD8dfBDF380E2a3B9c'
                      - network: eos
                        assetSymbol: EOS
                        assetName: EOS
                        chainId: null
                        tokenName: EOS
                        token: EOS
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: ETH
                        assetName: Ethereum
                        chainId: 1
                        tokenName: Ethereum
                        token: ETH
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: GRT
                        assetName: The Graph
                        chainId: 1
                        tokenName: The Graph
                        token: GRT
                        tokenAddress: '0xc944E90C64B2c07662A292be6244BDf05Cda44a7'
                      - network: ethereum
                        assetSymbol: LINK
                        assetName: Chainlink
                        chainId: 1
                        tokenName: Chainlink
                        token: LINK
                        tokenAddress: '0x514910771AF9Ca656af840dff83E8264EcF986CA'
                      - network: ethereum
                        assetSymbol: MKR
                        assetName: Maker
                        chainId: null
                        tokenName: Maker
                        token: MKR
                        tokenAddress: '0x9f8F72aA9304c8B593d555F12eF6589cC3A579A2'
                      - network: ethereum
                        assetSymbol: PAXG
                        assetName: Pax Gold
                        chainId: null
                        tokenName: Pax Gold
                        token: PAXG
                        tokenAddress: '0x45804880De22913dAFE09f4980848ECE6EcbAf78'
                      - network: ethereum
                        assetSymbol: SAND
                        assetName: The Sandbox
                        chainId: null
                        tokenName: The Sandbox
                        token: SAND
                        tokenAddress: '0x3845badAde8e6dFF049820680d1F14bD3903a5d0'
                      - network: ethereum
                        assetSymbol: UNI
                        assetName: Uniswap
                        chainId: null
                        tokenName: Uniswap
                        token: UNI
                        tokenAddress: '0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984'
                      - network: ethereum
                        assetSymbol: USDC
                        assetName: USD Coin
                        chainId: null
                        tokenName: USD Coin
                        token: USDC
                        tokenAddress: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                      - network: ethereum
                        assetSymbol: USDT
                        assetName: Tether
                        chainId: null
                        tokenName: Tether
                        token: USDT
                        tokenAddress: '0xdAC17F958D2ee523a2206206994597C13D831ec7'
                      - network: stellar
                        assetSymbol: XLM
                        assetName: Stellar
                        chainId: null
                        tokenName: Stellar
                        token: XLM
                        tokenAddress: ''
                      - network: ripple
                        assetSymbol: XRP
                        assetName: Ripple
                        chainId: null
                        tokenName: Ripple
                        token: XRP
                        tokenAddress: ''
                      - network: hedera
                        assetSymbol: HBAR
                        assetName: Hedera
                        chainId: null
                        tokenName: Hedera
                        token: HBAR
                        tokenAddress: ''
      security:
        - ClientToken: []
      servers:
        - url: 'https://api.sandbox.sardine.ai/v1'
          description: Sandbox
        - url: 'https://api.sardine.ai/v1'
          description: Prod Server
      x-stoplight:
        id: 636fiu1de9hzf
  /enabled-tokens:
    get:
      summary: Get Enabled Tokens
      description: 'Fetch list of tokens supported. '
      operationId: get_tokens
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        token:
                          type: string
                          description: Symbol of cryptocurrency
                        tokenName:
                          type: string
                          description: Full name of cryptocurrency
                        network:
                          type: string
                          description: 'Name of network, token is available on'
                        decimals:
                          type: integer
                          description: Number of decimal points that the crypto can have
                        chainId:
                          type:
                            - integer
                            - 'null'
                          description: chainID if network is EVM compatible
                        tokenAddress:
                          type: string
                          description: address if token is ERC-20
                x-examples:
                  example-1:
                    data:
                      - token: AAVE
                        tokenName: Aave
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        tokenAddress: '0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9'
                      - token: ADA
                        tokenName: Cardano
                        network: cardano
                        decimals: 6
                        chainId: null
                        tokenAddress: null
                      - token: ALGO
                        tokenName: Algorand
                        network: algorand
                        decimals: 6
                        chainId: null
                        tokenAddress: null
                      - token: AXS
                        tokenName: Axie Infinity
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        tokenAddress: '0xBB0E17EF65F82Ab018d8EDd776e8DD940327B28b'
                      - token: AVAX
                        tokenName: Avalanche
                        network: avalanche_c-chain
                        decimals: 18
                        chainId: 43114
                        tokenAddress: '0xB31f66AA3C1e785363F0875A1B74E27b85FD66c7'
                      - token: BAT
                        tokenName: Basic Attention Token
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        tokenAddress: '0x0D8775F648430679A709E98d2b0Cb6250d2887EF'
                      - token: BCH
                        tokenName: Bitcoin Cash
                        network: bitcoin_cash
                        decimals: 8
                        chainId: null
                        tokenAddress: null
                      - token: BTC
                        tokenName: Bitcoin
                        network: bitcoin
                        decimals: 8
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: BUSD
                        tokenName: Binance USD
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x4Fabb145d64652a948d72533023f6E7A623C7C53'
                      - token: COMP
                        tokenName: Compound
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xc00e94Cb662C3520282E6f5717214004A7f26888'
                      - token: DAI
                        tokenName: Dai
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x6B175474E89094C44Da98b954EedeAC495271d0F'
                      - token: DOGE
                        tokenName: Dogecoin
                        network: dogecoin
                        decimals: 8
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: DOT
                        tokenName: Polkadot
                        network: polkadot
                        decimals: 10
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: EGLD
                        tokenName: Elrond
                        network: elrond
                        decimals: 18
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: ENJ
                        tokenName: Enjin Coin
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xF629cBd94d3791C9250152BD8dfBDF380E2a3B9c'
                      - token: EOS
                        tokenName: EOS
                        network: eos
                        decimals: 4
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: ETH
                        tokenName: Ethereum
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: ETC
                        tokenName: Ethereum Classic
                        network: ethereum_classic
                        decimals: 372
                        chainId: 61
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: FTM
                        tokenName: Fantom
                        network: fantom
                        decimals: 18
                        chainId: 250
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: GRT
                        tokenName: The Graph
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xc944E90C64B2c07662A292be6244BDf05Cda44a7'
                      - token: Hedera
                        tokenName: HBAR
                        network: hedera
                        decimals: 8
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: KNC
                        tokenName: Kyber Network
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xdeFA4e8a7bcBA345F687a2f1456F5Edd9CE97202'
                      - token: LINK
                        tokenName: Chainlink
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x514910771AF9Ca656af840dff83E8264EcF986CA'
                      - token: Litecoin
                        tokenName: LTC
                        network: litecoin
                        decimals: 8
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: MANA
                        tokenName: MANA
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x0F5D2fB29fb7d3CFeE444a200298f468908cC942'
                      - token: MATIC
                        tokenName: Polygon
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0'
                      - token: MKR
                        tokenName: Maker
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x9f8F72aA9304c8B593d555F12eF6589cC3A579A2'
                      - token: OMG
                        tokenName: OMG Network
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xd26114cd6EE289AccF82350c8d8487fedB8A0C07'
                      - token: PAXG
                        tokenName: Pax Gold
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x45804880De22913dAFE09f4980848ECE6EcbAf78'
                      - token: SAND
                        tokenName: The Sandbox
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x3845badAde8e6dFF049820680d1F14bD3903a5d0'
                      - token: SHIB
                        tokenName: SHIBA INU
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x95aD61b0a150d79219dCF64E1E6Cc01f0B64C4cE'
                      - token: SOL
                        tokenName: Solana
                        network: solana
                        decimals: 9
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: TUSD
                        tokenName: TrueUSD
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x0000000000085d4780B73119b644AE5ecd22b376'
                      - token: UNI
                        tokenName: Uniswap
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984'
                      - token: USDC
                        tokenName: USD Coin
                        network: ethereum
                        decimals: 6
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                      - token: USDP
                        tokenName: Pax Dollar
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x8E870D67F660D95d5be530380D0eC0bd388289E1'
                      - token: USDT
                        tokenName: Tether
                        network: ethereum
                        decimals: 6
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xdAC17F958D2ee523a2206206994597C13D831ec7'
                      - token: WBTC
                        tokenName: Wrapped BTC
                        network: ethereum
                        decimals: 8
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599'
                      - token: XLM
                        tokenName: Stellar
                        network: stellar
                        decimals: 6
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: XRP
                        tokenName: Ripple
                        network: ripple
                        decimals: 6
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: XTZ
                        tokenName: Tezos
                        network: tezos
                        decimals: 6
                        chainId: null
                        destinationTagRequired: false
                        tokenAddress: null
                      - token: ZRX
                        tokenName: 0x
                        network: ethereum
                        decimals: 18
                        chainId: 1
                        destinationTagRequired: false
                        tokenAddress: '0xE41d2489571d322189246DaFA5ebDe1F4699F498'
              examples:
                example-1:
                  value:
                    “data”:
                      - network: ethereum
                        assetSymbol: AAVE
                        assetName: Aave
                        chainId: '1'
                        tokenName: Aave
                        token: AAVE
                        tokenAddress: '0x7Fc66500c84A76Ad7e9c93437bFc5Ac33E2DDaE9'
                      - network: cardano
                        assetSymbol: ADA
                        assetName: Cardano
                        chainId: ''
                        tokenName: Cardano
                        token: ADA
                        tokenAddress: ''
                      - network: algorand
                        assetSymbol: ALGO
                        assetName: Algorand
                        chainId: ''
                        tokenName: Algorand
                        token: ALGO
                        tokenAddress: ''
                      - network: avalanche
                        assetSymbol: AVAX
                        assetName: Avalanche
                        chainId: '43114'
                        tokenName: Avalanche
                        token: AVAX
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: BAT
                        assetName: Basic Attention Token
                        chainId: '1'
                        tokenName: Basic Attention Token
                        token: BAT
                        tokenAddress: '0x0D8775F648430679A709E98d2b0Cb6250d2887EF'
                      - network: bitcoin_cash
                        assetSymbol: BCH
                        assetName: Bitcoin Cash
                        chainId: ''
                        tokenName: Bitcoin Cash
                        token: BCH
                        tokenAddress: ''
                      - network: bitcoin
                        assetSymbol: BTC
                        assetName: Bitcoin
                        chainId: ''
                        tokenName: Bitcoin
                        token: BTC
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: COMP
                        assetName: Compound
                        chainId: '1'
                        tokenName: Compound
                        token: COMP
                        tokenAddress: '0xc00e94Cb662C3520282E6f5717214004A7f26888'
                      - network: ethereum
                        assetSymbol: DAI
                        assetName: Dai
                        chainId: '1'
                        tokenName: Dai
                        token: DAI
                        tokenAddress: '0x6B175474E89094C44Da98b954EedeAC495271d0F'
                      - network: dogecoin
                        assetSymbol: DOGE
                        assetName: Dogecoin
                        chainId: ''
                        tokenName: Dogecoin
                        token: DOGE
                        tokenAddress: ''
                      - network: polkadot
                        assetSymbol: DOT
                        assetName: Polkadot
                        chainId: ''
                        tokenName: Polkadot
                        token: DOT
                        tokenAddress: ''
                      - network: elrond
                        assetSymbol: EGLD
                        assetName: Elrond
                        chainId: ''
                        tokenName: Elrond
                        token: EGLD
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: ENJ
                        assetName: Enjin Coin
                        chainId: '1'
                        tokenName: Enjin Coin
                        token: ENJ
                        tokenAddress: '0xF629cBd94d3791C9250152BD8dfBDF380E2a3B9c'
                      - network: eos
                        assetSymbol: EOS
                        assetName: EOS
                        chainId: ''
                        tokenName: EOS
                        token: EOS
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: ETH
                        assetName: Ethereum
                        chainId: '1'
                        tokenName: Ethereum
                        token: ETH
                        tokenAddress: ''
                      - network: fantom
                        assetSymbol: FTM
                        assetName: Fantom
                        chainId: '250'
                        tokenName: Fantom
                        token: FTM
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: KNC
                        assetName: Kyber Network
                        chainId: '1'
                        tokenName: Kyber Network
                        token: KNC
                        tokenAddress: '0xdeFA4e8a7bcBA345F687a2f1456F5Edd9CE97202'
                      - network: ethereum
                        assetSymbol: LINK
                        assetName: Chainlink
                        chainId: '1'
                        tokenName: Chainlink
                        token: LINK
                        tokenAddress: '0x514910771AF9Ca656af840dff83E8264EcF986CA'
                      - network: litecoin
                        assetSymbol: LTC
                        assetName: Litecoin
                        chainId: ''
                        tokenName: Litecoin
                        token: LTC
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: MANA
                        assetName: MANA
                        chainId: '1'
                        tokenName: MANA
                        token: MANA
                        tokenAddress: '0x0F5D2fB29fb7d3CFeE444a200298f468908cC942'
                      - network: polygon
                        assetSymbol: MATIC
                        assetName: Polygon
                        chainId: '137'
                        tokenName: Polygon
                        token: MATIC
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: MATIC
                        assetName: Polygon
                        chainId: ''
                        tokenName: Polygon
                        token: MATIC
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: MKR
                        assetName: Maker
                        chainId: '1'
                        tokenName: Maker
                        token: MKR
                        tokenAddress: '0x9f8F72aA9304c8B593d555F12eF6589cC3A579A2'
                      - network: ethereum
                        assetSymbol: OMG
                        assetName: OMG Network
                        chainId: '1'
                        tokenName: OMG Network
                        token: OMG
                        tokenAddress: '0xd26114cd6EE289AccF82350c8d8487fedB8A0C07'
                      - network: ethereum
                        assetSymbol: PAXG
                        assetName: Pax Gold
                        chainId: '1'
                        tokenName: Pax Gold
                        token: PAXG
                        tokenAddress: '0x45804880De22913dAFE09f4980848ECE6EcbAf78'
                      - network: ethereum
                        assetSymbol: SHIB
                        assetName: SHIBA INU
                        chainId: '1'
                        tokenName: SHIBA INU
                        token: SHIB
                        tokenAddress: '0x95aD61b0a150d79219dCF64E1E6Cc01f0B64C4cE'
                      - network: solana
                        assetSymbol: SOL
                        assetName: Solana
                        chainId: ''
                        tokenName: Solana
                        token: SOL
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: UNI
                        assetName: Uniswap
                        chainId: '1'
                        tokenName: Uniswap
                        token: UNI
                        tokenAddress: '0x1f9840a85d5aF5bf1D1762F925BDADdC4201F984'
                      - network: ethereum
                        assetSymbol: USDC
                        assetName: USD Coin
                        chainId: '1'
                        tokenName: USD Coin
                        token: USDC
                        tokenAddress: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                      - network: polygon
                        assetSymbol: USDC
                        assetName: USD Coin
                        chainId: '137'
                        tokenName: USD Coin
                        token: USDC
                        tokenAddress: ''
                      - network: solana
                        assetSymbol: USDC
                        assetName: USD Coin
                        chainId: ''
                        tokenName: USD Coin
                        token: USDC
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: USDT
                        assetName: Tether
                        chainId: '1'
                        tokenName: Tether
                        token: USDT
                        tokenAddress: '0xdAC17F958D2ee523a2206206994597C13D831ec7'
                      - network: ethereum
                        assetSymbol: WBTC
                        assetName: Wrapped BTC
                        chainId: '1'
                        tokenName: Wrapped BTC
                        token: WBTC
                        tokenAddress: '0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599'
                      - network: stellar
                        assetSymbol: XLM
                        assetName: Stellar
                        chainId: ''
                        tokenName: Stellar
                        token: XLM
                        tokenAddress: ''
                      - network: ripple
                        assetSymbol: XRP
                        assetName: Ripple
                        chainId: ''
                        tokenName: Ripple
                        token: XRP
                        tokenAddress: ''
                      - network: tezos
                        assetSymbol: XTZ
                        assetName: Tezos
                        chainId: ''
                        tokenName: Tezos
                        token: XTZ
                        tokenAddress: ''
                      - network: ethereum
                        assetSymbol: ZRX
                        assetName: 0x
                        chainId: '1'
                        tokenName: 0x
                        token: ZRX
                        tokenAddress: '0xE41d2489571d322189246DaFA5ebDe1F4699F498'
                      - network: hedera
                        assetSymbol: HBAR
                        assetName: Hedera
                        chainId: ''
                        tokenName: Hedera
                        token: HBAR
                        tokenAddress: hbar
                      - network: hedera
                        assetSymbol: USDC
                        assetName: USD Coin
                        chainId: ''
                        tokenName: USD Coin
                        token: USDC
                        tokenAddress: 0.0.456858
      security:
        - ClientToken: []
      servers:
        - url: 'https://api.sandbox.sardine.ai/v1'
          description: Sandbox
        - url: 'https://api.sardine.ai/v1'
          description: Prod Server
      x-stoplight:
        id: 3xhrbo7m3a6gg
  '/orders/{orderId}':
    get:
      summary: Get Order(s)
      description: |-
        Fetch information about an Order once its completed

        The `status` of an Order can be one of the following

        `Draft` - This is an open or ongoing order

        `Processed`* - The payment has been completed.

        `Declined`* - The transacation was declined, due to payment method issues

        `UserCustody` - Crypto purchased for user but is in Sardine's custodied wallet

        `Complete` - The payment is complete and the crypto has been delivered to the user's wallet. A `txHash` will be present to denote successful on chain settlement. 

        `Expired` - Order expired before execution

        Events marked with an * can also be captured via event handlers on the frontend


        ### Fetching Orders

        Full list of Orders is obtained by making a call to the endpoint with no filters. 


        You have multiple options of filtering orders

        **1. Filtering by `order_id`**

        If a `redirect_url` was passed to the Sardine checkout (e.g. https://crytpoapp.com"), when then transaction is completed, Sardine will redirect the user to this url with an `order_id` appended i.e. https://cryptoapp.com?order_id=73103-erhed-317313

        This `order_id` can then be used as a filter on this endpoint

        E.g. `/v1/orders/491c113c-4485-47cd-b011-252068b753dc`

        **2. Filtering by `referenceId`**
        If a `referenceId` was passed in the call to create the `clientToken` for this call, it can now be used to filter for Orders that were created then. 

        E.g. `/v1/orders?referenceId=42ead95db5aeb6c`

        **3. Filtering by `externalUserId`**

        If a `externalUserId` was passed in /auth/client-tokens, it can be used to filter for Orders with that ID. This is useful for associating transactions with a user




        **3. Filtering by `startDate` and `endDate`**
        If `startDate` or `endDate` are passed in YYYY-MM-DD format, the list of Orders will be filtered to those that were created in this range

        E.g. `/v1/orders?startDate=2022-08-01&endDate=2022-08-15`



        `paymentStatus` field within the `payment` object in the response can be

        - Draft
        - Pending

        For bank transfers, the value could be

        - Sent
        - Complete
        - Returned
        - Failed

        For card transactions, the value can be

        - Authorized
        - Captured
        - Declined
        - Pending3DS
        - Failure3DS
        - Voided
      operationId: get-order-order_id
      parameters:
        - name: referenceId
          in: query
          description: 'If a `referenceId` is passed when creating the `clientToken`, it can be used as a filter'
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Number of results returned
          schema:
            type: string
        - name: startDate
          in: query
          description: Date in YYYY-MM-DD
          schema:
            type: string
        - name: endDate
          in: query
          description: Date in YYYY-MM-DD
          schema:
            type: string
        - name: externalUserId
          in: query
          description: Filter using `externalUserId` to obtain all Orders associated with a particular user
          schema:
            type: string
            format: uuid
        - name: orderId
          in: path
          description: ID of Order
          required: true
          schema:
            type: string
            examples:
              - 491c113c-4485-47cd-b011-252068b753dc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  createdAt:
                    type: string
                  confirmedAt:
                    type: string
                  referenceId:
                    type: string
                  status:
                    type: string
                  fiatCurrency:
                    type: string
                  transactionId:
                    type: string
                  walletAddress:
                    type: string
                  expiresAt:
                    type: string
                  userId:
                    type: string
                  total:
                    type: integer
                  subtotal:
                    type: integer
                  processingFees:
                    type: object
                    properties:
                      transactionFee:
                        type: integer
                      networkFee:
                        type: number
                  payment:
                    type: object
                    properties:
                      amountCents:
                        type: integer
                      currency:
                        type: string
                      paymentMethodId:
                        type: string
                      paymentMethodType:
                        type: string
                  withdrawal:
                    type: object
                    properties:
                      txHash:
                        type: string
                      walletAddress:
                        type: string
                      quantity:
                        type: number
                  withdrawals:
                    type: array
                    description: Sample
                    items:
                      type: object
                      properties:
                        walletAddress:
                          type: string
                        holdAmount:
                          type: integer
                        holdUntil:
                          type: string
                        quantity:
                          type: number
                        isHold:
                          type: boolean
                        status:
                          type: string
                        txHash:
                          type: string
                        withdrawnAt:
                          type: string
                x-examples:
                  Example 1:
                    id: 0113e40a-7406-4036-a882-745a3275e614
                    createdAt: '2023-03-10T20:46:29Z'
                    confirmedAt: '2023-03-10T20:46:33Z'
                    referenceId: test-0.7142516498128628
                    status: Complete
                    fiatCurrency: USD
                    transactionId: 7b47afca-4a6d-4cd3-a756-03db3281b932
                    walletAddress: '0x3d0babc12ac0b08f933a837dbb7a9943be35b0fc'
                    expiresAt: '2023-03-10T20:51:29Z'
                    userId: afceb64d-2d0b-4e52-8b99-a6a4eafc8515
                    total: 10
                    subtotal: 0
                    processingFees:
                      transactionFee: 0
                      networkFee: 1.05
                    payment:
                      amountCents: 1000
                      currency: USD
                      paymentMethodId: cfb30490-62da-4bcb-8179-5e18953d0117
                      paymentMethodType: Bank
                    withdrawal:
                      txHash: '0xbb45ae53e0ca10e598cf9d0ffedf554e8a72ca4a611a3f883474e0d6864eda5a'
                      walletAddress: '0x3d0babc12ac0b08f933a837dbb7a9943be35b0fc'
                    withdrawals:
                      - walletAddress: '0x3d0babc12ac0b08f933a837dbb7a9943be35b0fc'
                        holdAmount: 5
                        holdUntil: '2023-03-14T20:46:14.675+00:00'
                        quantity: 0.003091455
                        isHold: true
                        status: HOLD
                      - txHash: '0xbb45ae53e0ca10e598cf9d0ffedf554e8a72ca4a611a3f883474e0d6864eda5a'
                        walletAddress: '0x3d0babc12ac0b08f933a837dbb7a9943be35b0fc'
                        quantity: 0.003091455
                        isHold: false
                        status: SETTLED
                        withdrawnAt: '2023-03-10T20:46:58Z'
              examples:
                Get Order by Order ID:
                  value:
                    id: 0113e40a-7406-4036-a882-745a3275e614
                    createdAt: '2023-03-10T20:46:29Z'
                    confirmedAt: '2023-03-10T20:46:33Z'
                    referenceId: test-0.7142516498128628
                    status: Complete
                    fiatCurrency: USD
                    transactionId: 7b47afca-4a6d-4cd3-a756-03db3281b932
                    walletAddress: '0x3d0babc12ac0b08f933a837dbb7a9943be35b0fc'
                    expiresAt: '2023-03-10T20:51:29Z'
                    userId: afceb64d-2d0b-4e52-8b99-a6a4eafc8515
                    total: 10
                    subtotal: 0
                    processingFees:
                      transactionFee: 0
                      networkFee: 1.05
                    payment:
                      amountCents: 1000
                      currency: USD
                      paymentMethodId: cfb30490-62da-4bcb-8179-5e18953d0117
                      paymentMethodType: Bank
                    withdrawal:
                      txHash: '0xbb45ae53e0ca10e598cf9d0ffedf554e8a72ca4a611a3f883474e0d6864eda5a'
                      walletAddress: '0x3d0babc12ac0b08f933a837dbb7a9943be35b0fc'
                    withdrawals:
                      - walletAddress: '0x3d0babc12ac0b08f933a837dbb7a9943be35b0fc'
                        holdAmount: 5
                        holdUntil: '2023-03-14T20:46:14.675+00:00'
                        quantity: 0.003091455
                        isHold: true
                        status: HOLD
                      - txHash: '0xbb45ae53e0ca10e598cf9d0ffedf554e8a72ca4a611a3f883474e0d6864eda5a'
                        walletAddress: '0x3d0babc12ac0b08f933a837dbb7a9943be35b0fc'
                        quantity: 0.003091455
                        isHold: false
                        status: SETTLED
                        withdrawnAt: '2023-03-10T20:46:58Z'
                Get Orders List:
                  value:
                    data:
                      - id: 491c113c-4485-47cd-b011-252068b753dc
                        createdAt: '2022-08-12T14:34:36Z'
                        status: Complete
                        transactionId: 37cde415-0c3e-476a-8feb-d70b82594420
                        expiresAt: '2022-08-12T14:35:06Z'
                        userId: d7a4cc26-8bc9-4aa0-8010-e40fbd29fd25
                        processingFees:
                          transactionFee: 2
                          networkFee: 2.18
                        total: 50
                        subtotal: 45.82
                        payment:
                          currency: USD
                          paymentMethodType: Bank
                        data:
                          transactionType: crypto
                          assetType: ETH
                          network: ethereum
                          price: 1932.06811
                          quantity: 0.02372
                        withdrawal:
                          txHash: '0x019cdbb63b55ab87023295150466a9627bf752eaf6619c9c011a955db801fee9'
                          walletAddress: '0x6f01e182A38f72F1d59a16777a14A885AA500097'
                      - id: 68b188e8-abf6-4ae8-a446-610037402f22
                        createdAt: '2022-07-25T07:51:12Z'
                        referenceId: 42ead95db5aeb6c
                        status: Draft
                        transactionId: 277717ea-6540-4100-aba0-0c2c9f0e0154
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 5ab33793-d11d-4245-83c4-dbecde55b287
                        createdAt: '2022-07-22T10:11:24Z'
                        status: Draft
                        transactionId: d546c009-c864-4f37-b058-a3c1ea85dc46
                        total: 1
                        subtotal: 1
                        payment:
                          currency: USD
                      - id: 2ed6e1c1-355e-47ae-801f-b170bd627e88
                        createdAt: '2022-07-22T10:11:18Z'
                        status: Draft
                        transactionId: af58df1d-169f-45f5-942c-33993f451593
                        total: 1
                        subtotal: 1
                        payment:
                          currency: USD
                      - id: 5ff133de-427d-43c5-8fa3-b7eb71c0dafb
                        createdAt: '2022-07-22T10:11:07Z'
                        status: Draft
                        transactionId: 05a20f9b-43b7-4c5a-8c84-6d2d52cf3fd1
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: ce496a92-2c4a-4abb-af12-567f4d756884
                        createdAt: '2022-07-22T10:11:00Z'
                        status: Draft
                        transactionId: 53d51a6f-f611-48e0-a049-5f1a1a6c781f
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 8f1a9fb5-71f6-4257-9ecf-ce0a4fd68f76
                        createdAt: '2022-07-22T10:10:52Z'
                        status: Draft
                        transactionId: 2ec5e2b0-2d1b-4c44-b1df-f6c3a8c7c432
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 7fcd8806-b116-44a2-bec3-e8103455bf53
                        createdAt: '2022-07-22T10:10:46Z'
                        status: Draft
                        transactionId: 582a586c-6449-40c6-89df-657afca06367
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 2d113ef4-68c8-417a-8529-498aff2ae47c
                        createdAt: '2022-07-22T10:10:40Z'
                        status: Draft
                        transactionId: d1df95c0-b099-40bc-b687-333a37a8b17d
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: eb84a73b-a75d-4094-a5b5-ede13c939bfb
                        createdAt: '2022-07-22T10:10:35Z'
                        status: Draft
                        transactionId: 599371d6-de51-4a86-8917-48b51c9f6f37
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 27fee0da-7181-48e7-ab07-5d6fb5894e55
                        createdAt: '2022-07-22T10:10:28Z'
                        status: Draft
                        transactionId: 0d1bf088-3e0c-466b-b90d-b8f3d52f4827
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: dfcab048-b9ea-4a91-bebb-3a424ddce3f3
                        createdAt: '2022-07-22T10:10:20Z'
                        status: Draft
                        transactionId: d738b1ca-0446-49bd-9b2e-004651e584cd
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: fd76c10a-1229-443c-94e6-afd66854f5b9
                        createdAt: '2022-07-19T11:43:59Z'
                        referenceId: d8add425-788f-4532-bc94-fd7423c4d1d3
                        status: Draft
                        transactionId: c226dd90-6c82-4f03-9617-d450db8c26db
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 079daba5-46cd-425e-9437-a7c8025c5fa9
                        createdAt: '2022-07-19T11:43:14Z'
                        referenceId: 40eadcb0-4a93-45af-9c8c-d295db5aeb6c
                        status: Draft
                        transactionId: c7ef3697-229c-4f5d-bf5a-6d5c8c2e5371
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 300a6c4f-5ee0-4300-8fc7-e03a612a8d5e
                        createdAt: '2022-07-19T11:37:26Z'
                        referenceId: 43eadcb0-4a93-45af-9c8c-d295db5aeb6c
                        status: Draft
                        transactionId: 79eecbb6-5d64-4bf4-9f85-7784a685f184
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 483ec70f-c109-4591-a41a-01ec01f8c7cb
                        createdAt: '2022-07-19T10:57:50Z'
                        referenceId: 42c5ebc4-b0c4-4a50-bd1c-32c8b7d13a3e
                        status: Draft
                        transactionId: efc47217-3c15-4235-ac14-ccf67ecc7ab5
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: b750a139-585f-4405-9080-4283ee97678a
                        createdAt: '2022-07-18T14:01:29Z'
                        referenceId: 90de7b5f-dc98-4348-8385-f61880b9c74b
                        status: Draft
                        transactionId: 6735f45d-7000-4cf8-a54f-fa5d90acfffa
                        total: 1
                        subtotal: 1
                        payment:
                          currency: USD
                      - id: 834e8214-53a8-47ae-b148-c989b388dfb8
                        createdAt: '2022-07-18T13:41:50Z'
                        referenceId: dc0114c7-39c3-4006-bc21-980072e5cfb6
                        status: Draft
                        transactionId: 7c0ebbd2-f50a-4407-b3ac-700d8be450b7
                        total: 1
                        subtotal: 1
                        payment:
                          currency: USD
                      - id: 7b5e3f2e-d831-483a-b9e1-c3c8b6231ec2
                        createdAt: '2022-07-18T12:51:43Z'
                        referenceId: b76a9755-b49c-4002-af9e-375729f6dbec
                        status: Draft
                        transactionId: a255c45b-5601-45ed-9c2c-1f7fb042683e
                        total: 1
                        subtotal: 1
                        payment:
                          currency: USD
                      - id: b0fecce3-85a6-4b9c-bcb0-ddef3684c712
                        createdAt: '2022-07-18T10:50:02Z'
                        referenceId: d6ff5d27-fdb1-44fc-ab6e-3e135c1464c0
                        status: Draft
                        transactionId: 6d4429c9-3ef1-4125-ac74-b2cbb8c82fa3
                        total: 1
                        subtotal: 1
                        payment:
                          currency: USD
                      - id: 32ffba91-1d0f-438b-bb6a-b900a0add8e3
                        createdAt: '2022-07-18T10:03:36Z'
                        referenceId: 43eadb1-4a83-45f-9c8c-d295db6aeb8c
                        status: Draft
                        transactionId: e9361f5c-1f3d-47f4-b3a4-4ee1c13e3d25
                        total: 1
                        subtotal: 1
                        payment:
                          currency: USD
                      - id: 24428201-c1cd-47ee-8676-4741ce0ac14c
                        createdAt: '2022-07-18T10:03:15Z'
                        referenceId: 43eadcb1-4a83-45f-9c8c-d295db6aeb8c
                        status: Draft
                        transactionId: 3d57173e-6b26-4ae8-9f6d-12de42f98db9
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 4592a267-2a0c-408b-85ac-dfa713f59921
                        createdAt: '2022-07-18T09:57:38Z'
                        referenceId: 43eadcb1-4a83-45af-9c8c-d295db6aeb8c
                        status: Draft
                        transactionId: fbfbd8d9-593b-4dde-b3f9-f67826accb38
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 4fad42d2-034c-4ad1-a5d6-8ced8ebd9767
                        createdAt: '2022-07-18T09:57:05Z'
                        referenceId: 43eadcb0-4a83-45af-9c8c-d295db6aeb8c
                        status: Draft
                        transactionId: c205441c-a468-48e0-a616-7ae73f9f9e13
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 10197338-b080-453d-bd15-a83bfe7a155b
                        createdAt: '2022-07-18T09:56:55Z'
                        referenceId: 43eadcb0-4a93-45af-9c8c-d295db6aeb8c
                        status: Draft
                        transactionId: 1fd3f9a2-980c-4c18-a055-ed59c016db62
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: d3c4d0c4-f94c-4cee-a199-8749dda8aedf
                        createdAt: '2022-07-18T09:56:40Z'
                        referenceId: 42eadcb0-4a93-45af-9c8c-d295db6aeb8c
                        status: Draft
                        transactionId: b129553d-d068-4351-888a-c6a67bbc3bbd
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: e0c5ee0e-16f5-4096-963a-db54408cf49d
                        createdAt: '2022-07-18T09:55:20Z'
                        referenceId: 42eadcb0-4a93-45af-9c8c-d295db5aeb8c
                        status: Draft
                        transactionId: be98a8b9-c73f-4d75-8ab2-7731193b26d3
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: f62f99cb-377e-4f4c-9c8c-463bcf14d001
                        createdAt: '2022-07-18T09:43:52Z'
                        referenceId: 42eadcb0-4a93-45af-9c8c-d295db5aeb7c
                        status: Draft
                        transactionId: c0df055a-294b-415c-bdbc-ed859e6adb38
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                      - id: 3bb06ba1-5876-4a7d-9195-452bbfbe345a
                        createdAt: '2022-07-18T09:43:37Z'
                        referenceId: 42eadcb0-4a93-45af-9c8c-d295db5aeb6c
                        status: Draft
                        transactionId: d7c97d0c-2a39-44a3-b8e4-8c1b4e4e4281
                        total: 100
                        subtotal: 100
                        payment:
                          currency: USD
                    links:
                      self: 'https://api.sandbox.sardine.ai/v1/orders'
      security:
        - ClientToken: []
      servers:
        - url: 'https://api.sandbox.sardine.ai/v1'
          description: Sandbox
        - url: 'https://api.sardine.ai/v1'
          description: Prod Server
      x-stoplight:
        id: eg8e6vpyxx951
  /geo-coverage:
    get:
      summary: Get Geocoverage
      description: 'Get list of regions where Sardine is supported, separated by county and state regions'
      operationId: get-geo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    minItems: 1
                    uniqueItems: true
                    items:
                      type: object
                      properties:
                        countryCode:
                          type: string
                          description: 2 letter code representing a country
                          minLength: 1
                          examples:
                            - US
                        isAllowedOnRamp:
                          type: boolean
                          description: Indicates if Sardine Onramp supports this country
                          examples:
                            - true
                        isAllowedNFT:
                          type: boolean
                          description: Indicates if Sardine NFT supports this country
                          examples:
                            - true
                        isBasicKycRequired:
                          type: array
                          description: KYC requirements are satisfied without needing a document proof
                          examples:
                            - - OnRamp
                              - OffRamp
                          items:
                            type: string
                            enum:
                              - OnRamp
                              - OffRamp
                              - NFT
                        isSsnRequired:
                          type: array
                          description: KYC requirements include SSN verification
                          examples:
                            - - OnRamp
                              - OffRamp
                          items:
                            type: string
                            enum:
                              - OnRamp
                              - OffRamp
                              - NFT
                        name:
                          type: string
                          description: Full country name
                          minLength: 1
                          examples:
                            - United States
                        supportedDocuments:
                          type: array
                          description: Type of documents that are supported
                          examples:
                            - - passport
                              - drivers_license
                              - identity_card
                          items:
                            type: string
                            enum:
                              - passport
                              - drivers_license
                              - identity_card
                        currencyCode:
                          type: string
                          description: Currency code for this country
                          minLength: 1
                          examples:
                            - USD
                        otpMethod:
                          type: string
                          enum:
                            - sms
                            - email
                          description: OTP method used for this country
                          examples:
                            - sms
                        paymentMethods:
                          type: array
                          minItems: 1
                          uniqueItems: true
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Supported payment method name
                                minLength: 1
                                examples:
                                  - credit
                              type:
                                type: string
                                enum:
                                  - card
                                  - bank
                                description: Supported payment method type
                                examples:
                                  - card
                              subType:
                                type: string
                                enum:
                                  - credit
                                  - debit
                                  - ach
                                description: Supported payment method subtype
                                examples:
                                  - credit
                              subTypes:
                                type: string
                                enum:
                                  - us_credit
                                  - us_debit
                                  - ach
                                  - international_credit
                                  - international_debit
                                description: Supported payment method subtypes
                                examples:
                                  - - us_credit
                                    - international_credit
                              isAllowedOnRamp:
                                type: boolean
                                description: Indicates if the payment method is support for Sardine Onramp
                                examples:
                                  - true
                              isAllowedNFT:
                                type: boolean
                                description: Indicates if the payment method is support for Sardine NFT
                                examples:
                                  - true
                        states:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                                description: Supported state code
                                examples:
                                  - US-CA
                              name:
                                type: string
                                description: Supported state full name
                                examples:
                                  - California
                              isAllowedOnRamp:
                                type: boolean
                                description: Indicates if the state is supported for Sardine OnRamp
                                examples:
                                  - true
                              isAllowedNFT:
                                type: boolean
                                description: Indicates if the state is supported for Sardine NFT
                                examples:
                                  - true
                        isPayrollSupported:
                          type: boolean
                          description: Indicates if this country is support for Sardine Payroll
                          examples:
                            - false
                x-examples:
                  example-1:
                    response:
                      - alpha2: DZ
                        alpha3: DZA
                        isAllowed: true
                        isLightKycAllowed: true
                        name: Algeria
                        supportedDocuments:
                          - passport
                        currencyCode: DZD
                        partners:
                          - name: wyre
                            isCardPayment: true
                            currencyCode: USD
      security:
        - ClientToken: []
      servers:
        - url: 'https://api.sandbox.sardine.ai/v1'
          description: Sandbox
        - url: 'https://api.sardine.ai/v1'
          description: Prod Server
      x-stoplight:
        id: q4xtlw8li6jvk
  /fiat-currencies:
    get:
      summary: Get Fiat Currencies
      description: List of fiat currencies supported by Sardine
      operationId: get-trade-get-fiat-currencies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      symbol:
                        type: string
                        description: 3 letter symbol of fiat currency
                      supportingCountries:
                        type: array
                        description: 2 letter ISO code for countries
                        items:
                          type: string
                      name:
                        type: string
                        description: Name of currency
                      paymentOptions:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of payment method
                            id:
                              type: string
                            processingTime:
                              type: string
                            displayText:
                              type: boolean
                            icon:
                              type: string
                            dailyLimit:
                              type: integer
                              description: Amount of crypto that can be purchased daily
                            maxAmount:
                              type: integer
                              description: The maximum size of the transaction
                            minAmount:
                              type: integer
                              description: The minimum size of transaction
                            weeklyLImit:
                              type: integer
                x-examples:
                  example-1:
                    response:
                      symbol: USD
                      supportingCountries:
                        - US
                      name: US Dollar
                      paymentOptions:
                        - name: ACH
                          id: '1'
                          processingTime: Instant - 3 days
                          displayText: true
                          icon: string
                          dailyLimit: 300000
                          maxAmount: 300000
                          minAmount: 5000
                      isAllowed: true
                      defaultAmount: 20000
                      icon: string
              examples:
                example-1:
                  value:
                    response:
                      symbol: USD
                      supportingCountries:
                        - US
                      name: US Dollar
                      paymentOptions:
                        - name: ACH
                          id: '1'
                          processingTime: Instant - 3 days
                          displayText: true
                          icon: string
                          dailyLimit: 3000
                          maxAmount: 3000
                          minAmount: 50
                      isAllowed: true
                      defaultAmount: 200
                      icon: string
      security:
        - ClientToken: []
      servers:
        - url: 'https://api.sandbox.sardine.ai/v1'
          description: Sandbox
        - url: 'https://api.sardine.ai/v1'
          description: Prod Server
      x-stoplight:
        id: gyxoc9q9sc3uq
tags:
  - name: Payment Method
    description: Payment Method
components:
  securitySchemes:
    ClientToken:
      type: http
      scheme: basic
  schemas:
    Trade:
      type: object
      title: Trade
      description: |-
        Currenly, only `usd` is supported for `fiat_type`, with more currency types coming soon. 

        You can see list of all supported currencies for `asset_type` [here](https://sardineai.stoplight.io/docs/crypto-on-ramp/ZG9jOjQyODg0NjQ3-supported-tokens)
      properties:
        tradeId:
          type: string
          description: Unique ID of trade
          format: uuid
          minLength: 1
        networkFee:
          type: number
          description: Fees paid to the blockchain network to validate the transaction
        transactionFee:
          type: number
          description: 'Processing fees charged by Sardine to the user, and split with the merchant'
        createdAt:
          type: string
          description: Timestamp of transaction
          format: date-time
        network:
          type: string
          description: Blockchain on which the transaction took place
        status:
          type: string
          enum:
            - completed
            - pending
          description: 'Transaction status. '
        txHash:
          type: string
          description: Hash of transaction
        total:
          type: number
          description: Total amount spent in transaction
        assetType:
          type: string
          description: 'Type of digital currency being bought. '
        assetPrice:
          type: number
          description: Price for 1 unit of the digital token
        assetQuantity:
          type: number
          description: Quantity of digital assets bought
        assetTotal:
          type: number
          description: 'Total value of destination asset purchased. '
        paymentMethodId:
          type: string
          description: ID of Bank account used in the transaction
          format: uuid
          minLength: 1
        walletId:
          type: string
          format: uuid
        onchainTxnStatus:
          type: string
          enum:
            - pending
            - settled
            - hold
          description: |-
            On chain status of transaction
            `settled` - transaction is confirmed on the chain, check `tx_hash` for confirmation hash
            `pending` - transaction is awaiting validation on the chain
            `hold` - transaction hasn't been initiated yet
            `
        buyOrSell:
          type: string
          description: 'Set to `buy` if buying crypto with fiat, and `sell` when selling crypto to obtain fiat. '
      examples:
        - tradeId: 6e2251d2-1838-49ba-9773-cb81501b60bf
          networkFee: 9
          transactionFee: 3
          createdAt: '2019-08-24T14:15:22Z'
          network: ethereum
          status: completed
          txHash: '0xb5c8bd9430b6cc87a0e2fe110ece6bf527fa4f170a4bc8cd032f768fc5219838'
          total: 100
          assetType: ETH
          assetPrice: 2087.56
          assetQuantity: 0.0479
          assetTotal: 88
          paymentMethodId: b6df8625-cd25-4123-b345-638aa7b5d011
          walletId: 0ecad4a2-3549-43fb-807e-9ff033247480
          onchainTxnStatus: pending
          buyOrSell: buy
      x-examples:
        example-1:
          trade_id: uix67632673
          buy_or_sell: buy
          bank_name: Bank of America
          network_fee_minor_units: 103
          transaction_fee_minor_units: 50
          fiat_amount_minior_units: 1000
          asset_type: ETH
          asset_quantity: 0.25
          address: '0x123'
          bank_account_id: uuid4
      x-stoplight:
        id: tfd4mhhtjmcfp
    Quote:
      type: object
      properties:
        quantity:
          type: number
          description: Amount of crypto that will be purchased
        price:
          type: number
          description: Price for 1 unit of the crypto being bought
        subtotal:
          type: integer
          description: 'Fiat value of the crypto that the user will receive, net of fees'
        transactionFee:
          type: integer
          description: 'Also known as "gas", the fees paid to validators on the network'
        networkFee:
          type: integer
          description: Fees paid to Sardine for processing the trade
        total:
          type: number
          description: Total cost incurred by the user
        assetType:
          type: string
        network:
          type: string
        expiresIn:
          type: string
      examples:
        - quantity: 0.0445225
          price: 2111.2920433488684
          subtotal: 94
          transactionFee: 2
          networkFee: 4
          total: 98.6
          assetType: ETH
          network: ethereum
      x-examples:
        example-1:
          quantity: 0.0445225
          price: 2111.2920433488684
          subtotal: 9400
          transactionFee: 200
          networkFee: 400
          total: 10000
          assetType: ETH
[...]
